* {
	background: #eee;
}

ul {
	list-style-type: none;
}

body {
	font-family: Verdana, sans-serif;
	margin: 0;
	padding: 0;
}

/*
NAVIGATION BAR
*/

.navbar {
	background-color: #fff;
  border-radius: 0;
	position: -webkit-sticky;
	position: sticky;
	height: 0;
	margin: 0 auto;
	top: 0;
	text-align: center;
}

.navbar a {
	font-size: 20px;
	background: rgba(217, 67, 86, 1);
	font-family: 'Coda';
	color: #fff;
	text-decoration: none;
}

.navbar a:hover {
	transition: .1s;
	color: rgba(217, 67, 86, 1);;
}

.scrolled {
 transition: 0.5s ease;
}

.scrolled.navbar {
  height: 25px;
  background-color: rgba(217, 67, 86, 1);
  transition: 0.5s ease;
	margin-right: 0;
}

.scrolled.navbar a {
	color: #fff;
}

.scrolled.navbar a:hover {
	color: DarkRed;
	padding-bottom: 0;
	border-bottom: 3px solid transparent;
	border-image: linear-gradient(to right, tomato , DarkRed);
	border-image-slice: 1;
}

/* Month header */
.month {
    padding: 70px 0;
    width: 100%;
    background: rgba(217, 67, 86, 1);
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
		background: rgba(217, 67, 86, 1);
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
		border-left: 1px solid #ccc;
}

.not-center {
	padding-left: 14%;
	text-align: left;
}

.active {
	color: #fff;
	background: tomato;
	padding: 10px;
	border-radius: 0;
	border-right: 1px solid #000;
}

.not-active {
	color: #fff;
	background: #ccc;
	padding: 10px;
	border-radius: 0;
	border-right: 1px solid #000;
}

/* Highlight the "current" day
.days li .active {
    padding: 3px 3px;
    background: tomato;
    color: white !important;
		border-left: 1px solid #ccc;
		border-radius: 100px;
}
*/

.day-border {
	border-right: 1px solid #ccc;
}

/* MODAL */

.blur{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

input.btn {
  width: 150px;
  display: block;
  padding: 5px 5px;
  position: absolute;
  top: 5%;
	left: 7%;
  font: 1.125em 'Arial', sans-serif;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  background: rgba(217, 67, 86, 1);
}

.modal-wrapper{
  width:100%;
  height:100%;
  position:fixed;
  top:0; left:0;
  background:rgba(255 , 0, 0,0.4);
  visibility:hidden;
  opacity:0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.modal-wrapper.open{
  opacity:1;
  visibility:visible;
}

.modal{
  width:600px;
  height:200px;
  display:block;
  margin:50% 0 0 -300px;
  position:relative;
  top:50%; left:50%;
  background:#fff;
  opacity:0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.modal-wrapper.open .modal{
  margin-top:-200px;
  opacity:1;
	border-radius: 20px;
}

.head{
  width:90%;
  height:32px;
  padding:1.5em 5%;
  overflow:hidden;
  background:#fff;
	border-radius: 20px;
}

.btn-close{
  width:32px;
  height:32px;
  display:block;
  float:right;
}

.btn-close::before, .btn-close::after{
  content:'';
  width:32px;
  height:6px;
  display:block;
  background:#000;
}

.btn-close::before{
  margin-top:12px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
}

.btn-close::after{
  margin-top:-6px;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  transform:rotate(-45deg);
}

.content{
  padding:5%;
}
